<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:spring-configured />
	<context:component-scan base-package="com.asosyalbebe.samplespring" />
	<context:property-placeholder location="classpath*:*.properties" />
	<mvc:annotation-driven />

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- i18n configuration: provide different languages for jsp pages -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>
	
	<!-- Database Configuration Starts -->
	<bean id="dataSourceTarget" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${database.driverClass}" />
		<property name="jdbcUrl" value="${database.jdbcUrl}" />
		<property name="user" value="${database.user}" />
		<property name="password" value="${database.password}" />
		<property name="maxPoolSize" value="${database.maxPoolSize}" />
		<property name="minPoolSize" value="${database.minPoolSize}" />
		<property name="preferredTestQuery" value="${database.preferredTestQuery}" />
		<property name="idleConnectionTestPeriod" value="${database.idleConnectionTestPeriod}" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
		<property name="targetDataSource"><ref bean="dataSourceTarget" /></property>
	</bean>
	
	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource"><ref bean="dataSource"/></property>
		<property name="packagesToScan" value="com.asosyalbebe.samplespring" />
		<property name="hibernateProperties">
			<value>classpath:hibernate.properties</value>
		</property>
	</bean>
	
	<!-- Hibernate Transaction Manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />       
	
	<!-- AOP CONFIG -->
	<aop:config>
		<aop:pointcut id="ptServiceMethods" expression="execution(* com.asosyalbebe..*Service.*(..))" />
		<aop:pointcut id="ptPerformanceMethods" expression="execution(* com.asosyalbebe..*Service.*(..)) or execution(* com.asosyalbebe..*Dao.*(..))" />

		<aop:advisor pointcut-ref="ptServiceMethods" advice-ref="performanceMonitorInterceptor" order="0" />
		<aop:advisor pointcut-ref="ptServiceMethods" advice-ref="commonHbSessionInterceptor" order="1" />
		<aop:advisor pointcut-ref="ptServiceMethods" advice-ref="commonTxHbAdvice" order="2" />
		<aop:advisor pointcut-ref="ptPerformanceMethods" advice-ref="performanceMonitorInterceptor" order="0" />
	</aop:config>
	
	<bean id="commonHbSessionInterceptor" class="org.springframework.orm.hibernate4.support.OpenSessionInterceptor">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="commonTxHbAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- all methods starting with 'get' are read-only -->
			<tx:method name="get*" read-only="true" />
			<!-- other methods use the default transaction settings -->
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	
	<bean id="performanceMonitorInterceptor" class="org.springframework.aop.interceptor.JamonPerformanceMonitorInterceptor">
		<property name="trackAllInvocations" value="true" />
	</bean>

</beans>